* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202020;
}
a {
    text-decoration: none;
    color: #202020;
}
.container {
    max-width: 1240px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* info */
.info {
    border-bottom: 1px solid #CACACA;
    background-color: #fff;
    line-height: 18px;
}
.info-social {
    margin-top: 13px;
    margin-bottom: 13px;
}
.info-social__item {
    margin-right: 32px;
}
.info-social__item:last-child {
    margin-right: 0
}
.info-address {
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-address__text {
    margin-left: 38px;
    font-size: 15px;
}
.info-social__item:last-child {
    margin-right: 0
}

/* header */
.header {
    line-height: 19px;
    background-color: #fff;
}
.header-nav {
    margin-top: 42px;
}
.header-nav__item {
    line-height: 19px;
    margin-right: 40px;
}
.header-nav__item:last-child {
    margin-right: 0;
}
.header-nav__item:hover {
    text-decoration: underline;
    transition: all 300ms;
}
.header-nav__item--main {
    font-weight: 500;
}
.header-call {
    margin-top: 42px;
}
.header-call__item {
    font-weight: 600;
}