* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202020;
}
a {
    text-decoration: none;
    color: #202020;
}
.container {
    max-width: 1240px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;

}
.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 122.02%;
}
.desc {
    line-height: 24px;
}
.up {
    position: relative;
    padding-left: 43px;
    margin-bottom: 24px;
}
.up::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #4A72FF;
    border-radius: 20px;
    margin-top: 8px;
    margin-left: -42px;
}
.button {
    background: #4A72FF;
    color: #fff;
    border: none;
    font-size: 16px;
    line-height: 122.02%;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
}
.button:hover {
    background: #99F3FF;
    color: #202020;
    transition: all 300ms;
}
.content-box {
    display: flex;
    flex-direction: column;
}

/* info */
.info {
    border-bottom: 1px solid #CACACA;
    background-color: #fff;
    line-height: 18px;
}
.info-social {
    margin-top: 13px;
    margin-bottom: 13px;
}
.info-social__item {
    margin-right: 32px;
}
.info-social__item:last-child {
    margin-right: 0
}
.info-address {
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-address__text {
    margin-left: 38px;
    font-size: 15px;
}
.info-social__item:last-child {
    margin-right: 0
}

/* header */
.header {
    line-height: 19px;
    background-color: #fff;
}
.header-nav {
    margin-top: 42px;
}
.header-nav__item {
    line-height: 19px;
    margin-right: 40px;
}
.header-nav__item:last-child {
    margin-right: 0;
}
.header-nav__item:hover {
    text-decoration: underline;
    transition: all 300ms;
}
.header-nav__item--main {
    font-weight: 500;
}
.header-call {
    margin-top: 42px;
}
.header-call__item {
    font-weight: 600;
}

/* promo */
.promo {
    padding-bottom: 168px;
}
.promo-container {
    display: flex;
}
.promo-block {
    display: flex;
    margin-top: 91px;
    width: 567px;
    flex-wrap: wrap;
}
.promo-block__title {
    margin-bottom: 32px;
}
.promo-block__desc {
    width: 505px;
    margin-bottom: 32px;
}
.promo-block__text {
    position: absolute;
    background: url('../img/Ellipse.svg') no-repeat center;
    width: 189px;
    height: 68px;
    margin-left: 13px;
}
.promo-block__button {
    width: 179px;
    height: 44px;
}
.promo-img {
    display: flex;
    width: 620px;
    justify-content: flex-end;
    margin-top: 50px;
} 
.promo-img__img1 {
    position: relative;
    background-image: url('../img/Rectangle\ 2.png');
    border-radius: 10px;
    width: 475px;
    height: 432px;
    margin-right: 51px;
    z-index: 2;
}
.promo-img__img1::before {
    content: '';
    position: absolute;
    width: 168.91px;
    height: 169px;
    background: url('../img/Linked\ Path\ Group.png') no-repeat center;
    bottom: 0;
    margin-bottom: -70px;
    margin-left: -100px;
}
.promo-img__img1::after {
    content: '';
    position: absolute;
    background: url('../img/Group\ 62.png') no-repeat center;
    width: 626px;
    height: 531px;
    margin-top: -30px;
    margin-left: -100px;
}
.promo-img__img3 {
    position: absolute;
    margin-top: -30px;
    background: #4A72FF;
    border-radius: 10px;
    width: 278px;
    height: 265px;
    z-index: 1;
}

/* services */
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    position: relative;
}
.card-img {
    position: relative;
    padding-top: 48px;
    padding-left: 78px;
    z-index: 2;
}
.card-text {
    position: absolute;
    width: 424px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 2px 4px 11px 3px rgba(136, 136, 156, 0.25);
    border-radius: 10px;
    margin-top: -148px;
    z-index: 1;
}
.card-title {
    padding-top: 163px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 24px;
}
.card-desc {
    position: relative;
    padding-left: 80px;
    padding-bottom: 10px;
}
.card-desc::after {
    content: '';
    position: absolute;
    width: 5.5px;
    height: 11px;
    background: url('../img/vec.png') no-repeat center;
    top: 7px;
    padding-left: 17px;
}
.card2 {
    margin-top: 170px;
}
.card-text2 {
    height: 360px;
}

/* calculator */
.calculator {
    padding-top: 370px;
}
.calculator-baza {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 1240px;
    height: 1050px;
    background: #FFFFFF;
    box-shadow: 2px 4px 11px 4px rgba(136, 136, 156, 0.25);
    border-radius: 10px;
    margin-top: 48px;
}
.calculator-top {
    max-width: 1128px;
    width: 100%;
    margin: 56px auto 20px auto;
    display: flex;
    justify-content: space-between;
}
.calculator-title__button {
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    width: 300px;
    height: 53px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calculator-title {
    font-size: 24px;
    margin-bottom: 24px;
}
.calculator-desc {
    font-size: 18px;
    line-height: 122.02%;
}
.calculator-desc2 {
    font-weight: 600;
}
.calculator-ar {
    background: url(../img/vec2.png) no-repeat center;
    width: 17px;
    height: 9px;
}
.calculator-card {
    max-width: 750px;
    width: 100%;
    height: 60px;  
    background: #E5EBFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.calculator-card__blue {
    background: #4A72FF;
    color: #fff;
}
.calculator-bottom1 {
    margin-top: 48px;
    margin-left: 40px;
}
.calculator-card__quantity {
    display: flex;
}
.calculator-card-text {
    margin-left: 20px;
    line-height: 122.02%;
}
.card-quest {
    margin-right: 20px;
}
.calculator-card__number {
    margin-right: 10px;
    margin-left: 10px;
}
.calculator-card__desc2 {
    margin-left: 100px;
}
.calculator-card__quantity2 {
    margin-left: 56px;
}
.calculator-card3 {
    background: #B6F6FF;
}
.calculator-bt {
    min-width: 497px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130.02%;
    text-align: center;
    margin-top: 48px;
    margin-left: -400px;
}






